<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  <h1>cgi課題</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select weight, give_for from crops
    where not (give_for='自家消費');") %>
    <% result2 = connection.exec("select weight, give_for,quality from crops
    where quality=false;") %>
    <% data = [] %>
    <% data2 = []%>

    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

    <% result2.each do |record| %>
      <%  data2 << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]
      }　品質：#{record["quality"]}　" %>
    <% end %>
    下記のボタンを押すと、それぞれの情報ページに飛びます<br><br>

     <form action="goya.cgi" method="POST">
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
    譲渡先が自家消費ではないもの
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
    <form action="goya.cgi" method="POST">
    品質が悪いもの
      <input type="text" name="goya" value="<%= data2.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>
